/// describing the nature of the content and describing the possible. does the 
/// structure of the space of possibility have a nature or a content?
/// is the structure itself nature? is it content? 
///
/// @group Markup
/// @see https://twitchard.github.io/posts/2021-04-24-behavior-constraining-features.html

@mixin Concept () {}
@function () {
  @return false;
}
--variable: '';
$variable: '';
$variableList: ();

/// @group Features
.Behavior {}
.Constraint {}
[class$='constraint:*'] {
  outline: 1px solid gold;
}
[class$='constraint://example.app'] p {
  background-color: silver;
}
/// <div class='constraint::*'>
///   <p class='constraint::*'>whateverness</p>
/// </div>

/// @see https://www.w3.org/TR/odrl-model/#terminology
.Capability {}
/// @see https://www.w3.org/TR/owl-time/
.Temporality {}
.Spatiality {}
/// @see https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#AgentClass
.Attribute {}
.Relationship {}
.Presentation {}

/// now for some upper ontolgy!

.Name {}
.Operator {}
.Rule {}
.Set {}
.Offer {}
.Policy {}
.Asset {}
.Collection {}
.Action {}
.Permission {}
.Duty {}
.Obligation {}
.Prohibition {}
.Party {}

/// @todo blockability?
///
/// why not an <Element>? here's why: [rel={Operator} className={Operator}]
/// @example
/// .Operator+.Operator
/// <div class="Operator"></div>
/// <div class="Operator"></div>
/// @example
/// .plus+.quus
/// <div class="plus"></div>
/// <div class="quus"></div>
[class="plus quus"] {}

/// does not tell anything about the media query specificity nor containing 
/// properties, just "plus" and "quus" relayed to a client.
///
/// @see http://dbpedia.org/resource/Thing
/// @see https://schema.org/Thing
.Thing {
  @extend .Behavior;
  @if {}
  @else {}
  @else {}
  @include Concept();
}

/// @todo sass
$time: 'before';

/// @name Q
/// @kind mixin
@mixin Q ($relation: 'before') {
  /// @name Q
  /// @kind token
  .Q {
    &:#{$relation} {
      @content;
    }
  }

  & {
    [rel='#{$relation}'] {
      outline: 1px solid gold;
    }
  }
}

/// @todo sass
.P {
  @include Q($time) {
    color: orange;
  }
}
/// .P .Q:before { color: orange; }
/// .P [rel='before'] { outline: 1px solid gold; }

/// @todo sass
.Z {
  @include Q('active') {
    color: orange;
  }
}
/// .Z .Q:active { color: orange; }
/// .Z [rel='active'] { outline: 1px solid gold; }

/// @todo sass
.T {
  &:#{$time} {}
}
/// .T:before {}

#ID {}
[class] {}
[class*=''] {}
div {}
div + div {}

::root {}

body {}

hgroup {}
header {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}

article {}
menu {}
nav {}
main {}
section {}
aside {}
footer {}

table {}
thead {}
tfoot {}
tr {}
td {}
th {}
tbody {}
col {}
colgroup {}
caption {}

figure {}
figcaption {}

blockquote {}
q {}

video {}
audio {}
area {}
img {}
map {}
track {}

embed {}
iframe {}
object {}
picture {}
portal {}
source {}

svg {}
math {}

canvas {}
noscript {}

del {}
ins {}

details {}
dialog {}
summary {}

slot {}
template {}

dl {}
dt {}
dd {}
ul {}
ol {}
li {}

form {}
textarea {}
input {}
optgroup {}
output {}
meter {}
progress {}
option {}
time {}
data {}
datalist {}
select {}
label {}
fieldset {}
button {}
legend {}

a {}
a:hover {}
a:visited {}
a:link {}
a:focus {}
a:active {}

s {}
em {}
i {}
strong {}
b {}

small {}
cite {}
mark {}
u {}

var {}
samp {}
rp {}
rt {}
ruby {}

sub {}
sup {}

abbr {}

dfn {}

wbr {}
kbd {}
bdo {}
code {}

span {}

br {}
hr {}

pre {}

address {}

