:root {
  --copy-text: white;
  --depth: darkgreen;
  --lining: white;
}

button {
	color: var(--copy-text);
	background-color: var(--depth);
  border-color: var(--lining);
}

a {
	color: white;
	background-color: var(--depth);
}

.bg {
  background-image: url("./assets/interface-images/ab85baf464c52ac8de22402aacc1f23d_9d6abcf4_500.jpg")
}

[class*="line"] {
  outline: 1px solid black;
  background: gray;
}

.O-view--webapp__default__ {
  background-color: snow;
  outline: 1px solid darkblue;
}
.m-view--wpheader__default__ {}
.m-view--line__default__ {}
