/// @name ./src/App.scss:tags::root
:root {
  --copy-text: white;
  --occasion: darkgreen;
  --lining: white;
}

/// @name ./src/App.scss:tags:button
button {
  color: var(--copy-text);
  background-color: var(--occasion);
  border-color: var(--lining);
}

/// @name ./src/App.scss:tags:a
a {
  color: white;
  background-color: var(--occasion);
}

/// @name ./src/App.scss:classes:.bg
.bg {
  background-image: url("./assets/interface-images/ab85baf464c52ac8de22402aacc1f23d_9d6abcf4_500.jpg")
}

/// @name ./src/App.scss:attrs:[class*="line"]
[class*="line"] {
  outline: 1px solid black;
  background: gray;
}

/// @name ./src/App.scss:classes:.O-view--webapp__default__
.O-view--webapp__default__ {
  background-color: snow;
  outline: 1px solid darkblue;
}

/// @name ./src/App.scss:classes:.m-view--wpheader__default__
.m-view--wpheader__default__ {}

/// @name ./src/App.scss:classes:.m-view--line__default__
.m-view--line__default__ {}

/// @name ./src/App.scss:classes:.l
.l {
  outline: rgba(90, 180, 100, 0.5);
}

/// @name mixin test ($aRb, $aRc)
@mixin test ($aRb, $aRc) {
  .#{$aRb} {border: 1px solid #{$aRb};}
  // @example
  // .#{aRb} {
  //   @if $aRc == $aRd {
  //     propa: $aRb
  //   }
  // }
  // .#{aRb} {
  //   propb: #{aRc};
  //   propc: #{aRb};
  // }
  // .#{aRb} {(...??)}; // @fails probably
  // @include aRb((aRc, cRa, ...)); // organic css
  // @include $aRb($aRb); // @fails
}

/// @fails `@mixin apply($s, $a) { @include $s($a); }`

/// EOF.
